openapi: 3.0.0
info:
  title: Shortcut Categories Workflows API
  version: '3.0'
  description: Shortcut API
servers:
- url: https://api.app.shortcut.com
security:
- api_token: []
tags:
- name: Workflows
paths:
  /api/v3/workflows:
    get:
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
      operationId: listWorkflows
      description: Returns a list of all Workflows in the Workspace.
      summary: List Workflows
      tags:
      - Workflows
  /api/v3/workflows/{workflow-public-id}:
    get:
      parameters:
      - in: path
        name: workflow-public-id
        description: The ID of the Workflow.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
      operationId: getWorkflow
      description: Get Workflow returns information about a chosen Workflow.
      summary: Get Workflow
      tags:
      - Workflows
components:
  schemas:
    Workflow:
      description: 'Workflow is the array of defined Workflow States. Workflow can be queried using the API but must be updated in the Shortcut UI. '
      type: object
      properties:
        description:
          description: A description of the workflow.
          type: string
        entity_type:
          description: A string description of this resource.
          type: string
        project_ids:
          description: An array of IDs of projects within the Workflow.
          type: array
          items:
            type: number
            format: double
        states:
          description: A map of the states in this Workflow.
          type: array
          items:
            $ref: '#/components/schemas/WorkflowState'
        name:
          description: The name of the workflow.
          type: string
        updated_at:
          description: The date the Workflow was updated.
          type: string
          format: date-time
        auto_assign_owner:
          description: Indicates if an owner is automatically assigned when an unowned story is started.
          type: boolean
        id:
          description: The unique ID of the Workflow.
          type: integer
          format: int64
        team_id:
          description: The ID of the team the workflow belongs to.
          type: integer
          format: int64
        created_at:
          description: The date the Workflow was created.
          type: string
          format: date-time
        default_state_id:
          description: The unique ID of the default state that new Stories are entered into.
          type: integer
          format: int64
      additionalProperties: false
      required:
      - description
      - entity_type
      - project_ids
      - states
      - name
      - updated_at
      - auto_assign_owner
      - id
      - team_id
      - created_at
      - default_state_id
    WorkflowState:
      description: 'Workflow State is any of the at least 3 columns. Workflow States correspond to one of 3 types: Unstarted, Started, or Done.'
      type: object
      properties:
        description:
          description: The description of what sort of Stories belong in that Workflow state.
          type: string
        entity_type:
          description: A string description of this resource.
          type: string
        color:
          pattern: ^#[a-fA-F0-9]{6}$
          format: css-color
          description: The hex color for this Workflow State.
          minLength: 1
          type: string
        verb:
          description: The verb that triggers a move to that Workflow State when making VCS commits.
          type: string
          nullable: true
        name:
          description: The Workflow State's name.
          type: string
        global_id:
          x-doc-skip: true
          type: string
        num_stories:
          description: The number of Stories currently in that Workflow State.
          type: integer
          format: int64
        type:
          description: The type of Workflow State (Unstarted, Started, or Finished)
          type: string
        updated_at:
          description: When the Workflow State was last updated.
          type: string
          format: date-time
        id:
          description: The unique ID of the Workflow State.
          type: integer
          format: int64
        num_story_templates:
          description: The number of Story Templates associated with that Workflow State.
          type: integer
          format: int64
        position:
          description: The position that the Workflow State is in, starting with 0 at the left.
          type: integer
          format: int64
        created_at:
          description: The time/date the Workflow State was created.
          type: string
          format: date-time
      additionalProperties: false
      required:
      - description
      - entity_type
      - verb
      - name
      - global_id
      - num_stories
      - type
      - updated_at
      - id
      - num_story_templates
      - position
      - created_at
  securitySchemes:
    api_token:
      type: apiKey
      in: header
      name: Shortcut-Token
